<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta charset="utf-8">
        <title>文章內頁</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
        @@include('layout/style.html')
        <link rel="stylesheet" href="css/dinoSinglepg.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    </head>

    <body>
        @@include('layout/header.html')
        <div class="news-contents wrapper" id="app">
          <article  v-for="artRow in artitem">
              <header class="post-info">
                  <h2 class="post-title">{{artRow.art_title}}</h2>
                  <p class="post-date">{{cat}}<span>{{cate}}</span></p>
                  <p class="post-cat"><i class="fas fa-user-edit"></i> {{artRow.mem_nicname}}&nbsp;&nbsp;<span class="warn" @click="showModal = true"><i class="fas fa-exclamation-circle"></i> 檢舉</span></p>
              </header>
              <img :src="artRow.art_picture" alt="恐龍知識">
              <p>
                {{artRow.art_content}}
              </p>
              <p>
              </p>
          </article>
          <hr>
          <h2>文章留言</h2>
          <div class = "disnoitem">
            <div class = "disnoimg">
              <img src = "./images/disscus/member.jpg" alt = "food image">
              <p>呂阿暉</p>
            </div>
            <div class = "disnocontent">
              <h2 class = "disnoname">讚讚讚讚讚~~~~~~~讚讚讚讚讚</h2>
              <p class = "category">發表於: 2021-01-12 13:48:01&nbsp;&nbsp; <span @click="showModal = true"><i class="fas fa-exclamation-circle"></i> 檢舉</span></p>
            </div>
          </div>
          <hr>
          <h2>新增留言</h2>
          <form action="">
            <textarea id="single" name="single" placeholder="" style="height:100px"></textarea>
            <input class="dinbtn" type="button" value="送出"></input>
          </form>
          <div class="clickbac" v-if="showModal">
            <div class="modal">
              <div class="cross"><i class="fas fa-times" @click="showModal = false"></i></div>
             <h1>檢舉原因</h1>
             <form action="">
                <label><input type="radio" name="result" value="惡意中傷">惡意中傷</label><br>
                <label><input type="radio" name="result" value="散布謠言">散布謠言</label><br>
                <label><input type="radio" name="result" value="不雅字眼">不雅字眼</label><br>
              <br>
              <input class="button" type="button" value="送出" @click="showModal = false">
              </input>
             </form>
            </div>
          </div>
        </div>
        <script src="./js/dinoSinpage.js"></script>
        @@include('layout/footer.html')
    </body>
</html>