<!-- Sidebar -->
<div class="bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
        gogo龍
    </div>
    <div class="list-group list-group-flush my-3">
        <a href="./adminArticle.html" class="list-group-item list-group-item-action bg-transparent second-text active"><i 
                class="fas fa-user-edit me-2"></i>文章管理</a>
        <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i 
                class="fas fa-comment-dots me-2"></i>留言管理</a>
        <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-shopping-cart me-2"></i>訂單管理</a>
        <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-gift me-2"></i>商品管理</a>
        <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                class="fas fa-power-off me-2"></i>登出</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->