<nav>
    <div class="NavL">

        <a href="dinoMall.html">
            <li>
                恐龍商城
            </li>
        </a>
        <a href="dinoTest.html">
            <li>
                知識小測驗
            </li>
        </a>
        <a href="">
            <li>
                明信片牆
            </li>
        </a>
    </div>

    <div class="Menu">
        <a href="index.html">
            <img src="images/nav/logo_menu.png" alt="">
        </a>
    </div>

    <div class="NavR">
        <a href="dinoDisscus.html">
            <li>
                討論區
            </li>
        </a>
        <a href="dinoPost.html">
            <li>
                我要發文
            </li>
        </a>

        <button class="SignIn">
            <img src="images/nav/SignIn_btn.png" alt="">
        </button>

    </div>

</nav>

<div class="Island">
    <a href="dinoIsland.html">
        <img src="images/nav/island.png" alt="">
    </a>
</div>