<nav>
    <div class="NavL">

        <a href="dinoMall.html">
            <li>
                恐龍商城
            </li>
        </a>
        <a href="dinoTest.html">
            <li>
                知識小測驗
            </li>
        </a>
        <a href="dinoCardboard.html">
            <li>
                明信片牆
            </li>
        </a>
    </div>

    <div class="Menu">
        <a href="index.html">
            <img src="images/nav/logo_menu.png" alt="">
        </a>
    </div>

    <div class="NavR">
        <a href="dinoDisscus.html">
            <li>
                討論區
            </li>
        </a>
        <a href="dinoPost.html">
            <li>
                我要發文
            </li>
        </a>

        <button class="SignIn" id="SignIn">
            <a href="dinoLogin.html">
                <img src="images/nav/SignIn_btn.png" alt="">
            </a>
        </button>

        <!-- 會員登入後 -->
        <div class="Avatar-item" id="Avatar">
            <button class="Avatar">
                <img src="./images/nav/head.png" alt="">
            </button>

            <div class="Member">
                <p>
                    會員
                </p>
            </div>
        </div>

    </div>
</nav>

<div class="Avatar-box remove">
    <img src="./images/nav/head.png" alt="">
    <p class="Avatar_p">會員</p>
    <hr>
    <a href="dinoMem_profile.html">
        <button class="MemberCentre-bt">
            <p>
                會員中心
            </p>
    </a>
    </button>
    <button class="SignOut-bt" id="logout">
        <p>
            登出
        </p>
    </button>
</div>

<div class="Island">
    <a href="dinoIsland.html">
        <img src="images/nav/island.png" alt="">
    </a>
</div>

<!-- js -->
<script src="./js/nav.js"></script>