 <nav>
        <div class="NavL">

            <a href="">
                <li>
                    恐龍商城
                </li>
            </a>
            <a href="">
                <li>
                    知識小測驗
                </li>
            </a>
            <a href="">
                <li>
                    討論區
                </li>
            </a>
        </div>

        <div class="Menu">
            <img src="images/nav/logo_menu.png" alt="">
        </div>

        <div class="NavR">
            <a href="">
                <li>
                    明信片牆
                </li>
            </a>
            <a href="">
                <li>
                    文章分享
                </li>
            </a>

            <button class="SignIn">
                   <img src="images/nav/SignIn_btn.png" alt="">
            </button>

        </div>

    </nav>

    <button class="Island">
        <img src="images/nav/island.png" alt="">
    </button>