<!-- 儲存造型 -->
<style>
    .modal-content canvas{
        max-width: 50%;
        max-height: 50%;
        object-fit: contain;
    }
</style>
<section>
    <div class="bg-modal" id="bg-modal">
        <div class="modal-content" id="modal-content">
            <div class="close" id="close">&times;</div>
            <!-- <img src="././images/dinoMall/prod3.png" alt=""> -->
            <h3>儲存成功</h3>
            <!-- <form action="">
                <input type="submit" value="確定儲存">
            </form>    -->
        </div>
    </div>
</section>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>