<!-- 選擇恐龍 -->
<section>
  <div class="bg-modal-a" id="bg-modal-a">
      <div class="modal-wrap">
          <div class="close-a" id="close-a">&times;</div>
          <div class="boxs">
              <div class="box">
                  <img src="././images/dinoMall/d1.png" id="changeImg" class="changeImg" alt="">
                  <span>A 龍</span>
              </div>
              <div class="box">
                  <img src="././images/dinoMall/d2.png" id="changeImg" class="changeImg" alt="">
                  <span>B 龍</span>
              </div>
              <div class="box">
                  <img src="././images/dinoMall/d3.png" id="changeImg" class="changeImg" alt="">
                  <span>C 龍</span>
              </div>
          </div>
      </div>
  </div>
</section>
<script src="./js/dinoMall.js"></script>
