@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    background-image: url('../images/disscus/2935.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 400;
}

.container {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .77);
  padding: 20px;
  max-width:720px;
  margin:20px auto;
  margin-top: 150px;
}

.formhead{
  color: #ff9505;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0.3rem 0;
  font-weight: 700;
}

.formhead::after{
  content: "";
  display: block;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background: #ff9505;
  margin-top: 0.2rem;
  width: 5.5rem;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
  font-weight: 600;
}

/* img upload start */
.center {
  height:100%;
  display:flex;
  align-items:center;
  justify-content:flex-start;
}

.form-input {
  width:250px;
  padding:20px;
  background:#fff;
  border:2px dashed #555;
}

.form-input input {
  display:none;
}

.form-input label {
  display:block;
  width:100%;
  height:50px;
  line-height:50px;
  text-align:center;
  background:#333;
  color:#fff;
  font-size:15px;
  font-family:"Open Sans",sans-serif;
  text-transform:Uppercase;
  font-weight:600;
  border-radius:10px;
  cursor:pointer;
}
 
.form-input img {
  width:100%;
  display:none;
  margin-top:10px;
}
/* img upload end */

/* button start */
.dinbtn {
  background-color: #333;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
  font-weight: 600;
}

.dinbtn:hover {
  background-color: rgb(82, 81, 81);
}
/* button end */