@import 'base/reset';
@import 'base/font';
@import 'layout/nav';


.boardContent{
  width: 100%;
  position: relative;

  .contentBg{
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    position: absolute;

    img{
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }

  .cardBoard{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 7rem;
    display: flex;
    justify-content: center;
    //align-items: center;

    .meanBoard{   
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        width: 80%;
        max-height: 550px;
      }
    }

    .titleText{
      font-size: 24px;//----------------
      font-family: DFPLiYuan;//-----------------
      color: white;//----------------
      position: absolute;
      top: 1.8rem;
      letter-spacing: 1px;
    }
  }
}


.person{
  position: absolute;
  width: 70%;
  max-width: 1000px;
  top: 4.2rem;

  .personItem{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: center;

    .personPart{
      width: 13rem;
      height: 13rem;
      background-color: white;
      padding: .6rem;
      margin: .3rem .3rem;

      .personImg{
        width: 100%;
        margin: 0 auto;

        img{
          width: 100%;
        }
      }
      .personContent{
        display: flex;
        padding-top: .5rem;

        img{
          width: 12%;
        }
        span{
          margin: 0 auto;
        }
      }
      .personDate{
        font-size: 10px;//-----------
        padding: .7rem 0;
        padding-left: 50%;
      }
    } 
  }
}

.underBtn{
  display: flex;
  position: absolute;
  top: 32rem;
  //width: 100%;
  justify-content: center;

  .leftBtn img,
  .numberBtn img,
  .rightBtn img{
    width: 60%;
  }

}