@import './base/font';
@import './base/dinoMall_var';
@import '../../guideline_sass/sass/base/var';

body {
  background-color: rgb(143, 213, 223);
}

.wrapMall {
  position             : absolute;
  top                  : 20%;
  left                 : 10%;
  display              : grid;
  grid-template-columns: 1fr 1fr;
  justify-content      : center;
  max-width            : 1320px;
  width                : 100%;
  // border: 1px solid red;
}

// 左方塊 ==============================================
#{$titleLeft} {
  width: 100%;
}

#{$titleLeft} .card {
  background: url('#{$path}/dinoMall/stoneframe01.png') no-repeat center center / contain;
  text-align: center;
  padding   : 120px;
}

#{$titleLeft} .card img {
  background-color: white;
}

#{$titleLeft} .groundButton {
  display        : flex;
  justify-content: center;
  width          : 100%;
}

#{$titleLeft} .btnSelect {
  width : 20%;
  margin: 20px 10px;
}

#{$titleLeft} .btnSelect img {
  width: 100%;
}


// 右方塊 ==============================================
#{$titleRight} {
  background: url('#{$path}/dinoMall/stornBoard.png') no-repeat center center / contain;
  padding   : 0 60px;
}

#{$titleRight} .groundTitle {
  display        : flex;
  justify-content: center;
  margin-left    : 10%;
}

#{$titleRight} .title {
  background  : url('#{$path}/dinoMall/woodBlank.png') no-repeat center center / contain;
  padding     : 20px;
  margin-right: 10px;
  text-align  : center;
}

#{$titleRight} .title h3 {
  color      : $yellow-second;
  font-size  : $font-h3;
  font-weight: $font-bold;
}

#{$titleRight} .cart {
  width : 10%;
  height: 10%;
}

#{$titleRight} .cart img {
  width: 100%;
}

#{$titleRight} .arrow .prePage {
  background: url('#{$path}/dinoMall/pre.png') no-repeat center center / contain;
  width     : 50px;
  height    : 50px;
}

#{$titleRight} .arrow span {
  font-size     : $font-h4;
  font-weight   : $font-bold;
  vertical-align: 12px;
  color         : $brown;
}

#{$titleRight} .arrow .nextPage {
  background: url('#{$path}/dinoMall/next.png') no-repeat center center / contain;
  width     : 50px;
  height    : 50px;
}

#{$titleRight} .groundImgCard {
  text-align    : center;
  padding-bottom: 90px;
}

#{$titleRight} .imgCard {
  position: relative;
  left    : 30%;
  display : flex;
  width   : 40%;
}

#{$titleRight} .imgCard img {
  width: 100%;
}