@import 'dinoMem.scss';

//==================================
//更換按鈕
.switchBtn{
  padding: 20px 60px;
  margin: 20px;

  

button{
  padding: 5px 30px;
  font-size: ($font-h4)-6px;
  
  &:hover{
    color: $yellow-second;
  }
}

p{
  padding: 20px 10px 0px 10px;
  color: $yellow-second;
  font-size: ($font-h4)-12px;
}
}
//==================================
//標題按鈕被選取時的CSS
.active{
  padding: 5px 30px;
  border-radius: $btn-radius;
  border:3px solid $brown;
  background-color:$yellow-second;
  color:$brown;

  &:hover{
    background-color: $brown;
    color:$yellow-second;
  }
}

//關閉時

//==================================
.dinoCon{
  display: flex;
  flex-wrap: wrap;
}
.dinoChoose{
  display: flex;
  justify-content: center;
  align-items: center;

}
.changePage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 30px;
  li{
    position: relative;
    left: 30px;
    margin: 0 20px;
    margin-right: 40px;
    font-size: $font-h4;
    color: $yellow-second;
  }

}
.upPage,.downPage{
  margin: 20px 10px;
  width: 80px;
  height: 80px;
  background: url(../../dev/images/dinoPersonal/arrowSmall.png) no-repeat center center;
  background-size: contain;

}
.downPage{
  transform:scaleY(-1);
}


.myArti,.arti{

  ul{  
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  

    li{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  
      padding: 17px;
      width: 700px;
      max-width: 700px;
      height: 100%;
      background: url(../../dev/images/dinoPersonal/long.png) no-repeat center center;
      background-size: contain;
      cursor: pointer;

      img{
        width: 60px;
      }
    }
  }
}

.artic{
  margin-left: 10px;
  color: $yellow-first;
  font-size: ($font-h4)-12px;
  

  .detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.time,.read,.repo{
      padding: 10px;
      color:$white;
      font-size: ($font-h4)-13px;  
    }
    
.time{
  margin-left: 13px;
}
#repo img{
  width:5%;
}
//彈窗背景CSS
.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

//caption設定
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

//動畫設定
.modal-content, .caption {  
  animation-name: zoom;
  animation-duration: 0.4s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

//關掉按鈕
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;

  &:hover,:focus{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
  }
}

//============================
// 整欄窗
.deleteTable {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.7);
  padding-top: 50px;
}

// 刪除欄
.deleteBox {
  border-radius:10px;
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width:40%; 
}

.dele_close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.dele_close:hover,
.dele_close:focus {
  opacity: 0.8;
}

.dele_choose::after {
  content: "";
  clear: both;
  display: table;
}

//===============================


//=====================打開開關clas 
.none{
  display: none;
}


//=====================刪除
button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelBtn, .deleteBtn {
display: inline-block;
margin:20px;
border: none;
border-radius: 10px;
color: white;
padding: 15px 32px;
text-align: center;
font-size: ($font-h4)-10px;



}

// 取消刪除
.cancelBtn {
  background-color: #ccc;
  color: black;
}

// 確定刪除
.deleteBtn {
  background-color: #f44336;
}


.delete_con {
  padding: 16px;
  text-align: center;

  h3{
    padding: 15px;
    font-size: $font-h3;
  }
  p{
    font-size: ($font-h4)-10px;
  }
}

