body {
    height: 100vh;
    background-image: url('../images/dinoGameEgg/bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.Wrap {
    display: flex;
    flex-direction: column;
    padding-top: 38%;
}

.Egg {
    width: 38%;
    margin: auto;
    margin-left: 33%;
    position: relative;
}

.egg-1{
    position: absolute;
    width: 20%;
    bottom: 15vh;
    left: 22%;
    z-index: 2;
}

.egg-2 {
    position: absolute;
    width: 27%;
    bottom: 16vh;
    left: 35%;
    z-index: 1;
}

.egg-3 {
    position: absolute;
    width: 21%;
    bottom: 15vh;
    left: 52%;
    z-index: 2;
}

.nest {
    position: absolute;
    width: 70%;
    bottom: 5vh;
    left: 15%;
    z-index: 3;
}

.Bt {
    margin: auto;
    animation: animate 0.4s infinite;
    animation-direction: alternate;
}

.Bt img {
    width: 100%;
}

.remove {
    display: none;
}

.click{
    cursor: pointer; 
}

//----animation bt

@keyframes animate {
    from {
        width: 18%;
    }

    to {
        width: 19%;
    }
}

//----animation egg

.egg-animation {
    animation: animate-egg 1.5s forwards;
}

@keyframes animate-egg {
    from {
        width: 38%;
        margin-left: 33%;
        margin-top: 0%;
    }

    to {
        width: 50%;
        margin-left: 27%;
        margin-top: 8%;
    }
}