//@import './base/reset';
@import './base/font';
@import '../../guideline_sass/sass/base/var';

//==================================

body{
  color: $brown;
  font-family:'DFPliYuan';
  background-color: rgb(233, 245, 241);
  box-sizing:border-box;
}
button{
  cursor: pointer;
  font-family:'DFPliYuan';
}

//==================================

.perWrap{
margin: auto;
width: 100vw;
height: 100vh;
}

.perHeader{
  height:12%;
}
.perBox{
display: flex;
flex-wrap: wrap;
}

.perPhoto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  flex-grow: 1;
  margin: 40px;
  padding-bottom: 20px;


  h1{
    font-size: $font-h1;
    font-weight: $font-bold;
    margin: 20px auto;
  }
  .perFrame{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:20px 30px;
  width: 100%;
  height: 400px;
  background: url(../../dev/images/dinoPersonal/personFrame.png) no-repeat center center;
  background-size: contain;

  img{
    margin-top: 50px;
    width: 180px;
  }
  h3{
    padding: 30px 0;
    font-size: $font-h3;
    text-align: center;
  }
  }

}


.perContent{
  position: relative;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  margin-bottom: 30px;
  padding-top: 20px;

}
.conBtn{
  position: absolute;
  left: 40px;
  top:-25px;
  margin-top: 20px;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;


  button{
    margin: 0 20px;
    padding: 10px 10px 25px 10px;
    height: 100px;
    width: 150px;   
    text-align: center;
    color: $white;
  }
  //================================================
  //內容板子

  .light,.dark{
    font-family:'DFPliYuan';
    letter-spacing: 2px;
  }
  .dark{
    background: url(../../dev/images/dinoPersonal/yellowBoard_b.png) no-repeat center center;
    background-size: contain;

  }
  
  //內容板子（當前）
  .light{
  background: url(../../dev/images/dinoPersonal/yellowBoard.png) no-repeat center center;
  background-size: contain;
}
}



.conFrame{
  position: relative;
  left: 0;

  margin-top: 20px;
  width: 950px;
  max-width: 950px;
  height: 505px;
  background: url(../../dev/images/dinoPersonal/boardnormal_L.png) no-repeat center center;
  background-size: contain;

}

//===========================
//彈窗背景CSS
.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

//caption設定
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

//動畫設定
.modal-content, .caption {  
  animation-name: zoom;
  animation-duration: 0.4s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

//關掉按鈕
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;

  &:hover,:focus{
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
  }
}

//============================
// 整欄窗
.deleteTable {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.7);
  padding-top: 50px;
}

// 刪除欄
.deleteBox {
  border-radius:10px;
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width:40%; 
}

.dele_close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.dele_close:hover,
.dele_close:focus {
  opacity: 0.8;
}

.dele_choose::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 300px) {
  .cancelBtn, .deleteBtn {
  width: 100%;
  }
}