//@import './base/reset';
@import 'base/font';
@import '../../guideline_sass/sass/base/var';

//==================================

body{
  color: $brown;
  font-family:'DFPliYuan';
  background-color: rgb(233, 245, 241);
  box-sizing:border-box;
}
button{
  cursor: pointer;
}

//==================================

.perWrap{
margin: auto;
width: 100vw;
height: 100vh;
}

.perHeader{
  width: 100%;
  height:20%;
}
.perBox{
display: flex;
flex-wrap: wrap;
margin: 10px;
}

.perPhoto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  flex-grow: 1;
  margin: 30px;
  padding-bottom: 20px;


  h1{
    font-size: $font-h1;
    font-weight: $font-bold;
    margin: 20px auto;
  }
  .perFrame{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:20px 0;
  padding: 0 50px;
  width: 100%;
  height: 400px;
  background: url(../../dev/images/dinoPersonal/personFrame.png) no-repeat center center;
  background-size: contain;

  img{
    margin-top: 50px;
    width: 180px;
  }
  h3{
    padding: 30px 0;
    font-size: $font-h3;
  }
  }

}


.perContent{
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  margin-bottom: 30px;

}
.conBtn{
  margin-top: 20px;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;


  button{
    margin: 0 20px;
    padding: 10px 10px 25px 10px;
    height: 100px;
    width: 150px;   
    text-align: center;
    color: $white;
  }
  //內容板子
  .dark{
    background: url(../../dev/images/dinoPersonal/yellowBoard_b.png) no-repeat center center;
    background-size: contain;

  }
  
  //內容板子（當前）
  .light{
  background: url(../../dev/images/dinoPersonal/yellowBoard.png) no-repeat center center;
  background-size: contain;
}
}



.conFrame{
  margin-top: -30px;
  width: 90%;
  height: 90%;
  background: url(../../dev/images/dinoPersonal/boardnormal_L.png) no-repeat center center;
  background-size: contain;

}
