// @import './base/reset';
@import './base/font';
@import '../../guideline_sass/sass/base/var';


//==================================

body{


color: $brown;
font-family:'DFPLiYuan';

}
button{
  cursor: pointer;
  color: $brown;
  font-family:'DFPLiYuan';
}

.none{
  display:none;
}
//==================================

.testWrapper{
  display: flex;
  height: 100vh;
background-image: url(../../dev/images/dinoTest/pic/testJungle_2.png) ;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}

.whiteBoard,.showScore{

  width: 60%;
  height: 78%;
  margin: auto;
  margin-bottom:5px;
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
}

.whiteBoard{
background-image: url(../../dev/images/dinoTest/pic/testBoard.png) ;

}

.showScore{
  background-image: url(../../dev/images/dinoTest/pic/testBoard_2.png);
}



   

  h1{  
    margin: auto;
    padding: 30px;
    max-width: 300px;
    background: url(../images/dinoTest/pic/woodBlank2.png) no-repeat center center;
    background-size: contain;
    text-align: center;
    font-size: ($font-h1)-12px;
    color:$yellow-first;
  }

//首頁內容==================================
.testContent{ 
  line-height: $font-lineheight;
  text-align: center;

  h3{ 
    margin-top: 50px;
    font-size: ($font-h3)-3px; 
  }
  p{
    font-size:$font-h4; 
    padding: 5px;
  }
  .smRemind{
    margin-bottom: 25px;
    font-size: ($font-h4)-6px;
    color: rgb(127, 129, 18);
  }
 
} 
.testStart_btn button{
  max-width: 250px;
  padding: 45px;
  border-style:none;
  background:url(../../dev/images/dinoTest/pic/woodTitle2.png) no-repeat center center;
  background-size: contain;
  text-align: center;
  font-size: ($font-h4)-5px;
}


//測驗畫面==================================
.testContent_Q{
  position: relative;
  line-height: $font-lineheight;
  text-align: center;

  .restartPlay {
    position: relative;
    right: 300px;
    bottom: 50px;

    button{
    width: 160px;
    padding: 20px;
    border-style:none;
    background:url(../../dev/images/dinoTest/pic/woodTitle.png) no-repeat center center;
    background-size: contain;
    font-size: ($font-h4)-5px;
  }
}

  h3{
    font-size: $font-h3;
  }
}

.choose{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
  margin: auto;
  width: 450px;
  font-weight: $font-bold;
  text-align: center;


  button{
    width: 160px;
    padding: 20px;
    border-style:none;
    background:url(../../dev/images/dinoTest/pic/goldWood.png) no-repeat center center;
    background-size: contain;
    font-size: ($font-h4)-3px;
    color:$white;

    &:hover{
      color: $yellow-first;
    }
  }
}

.testArrow{
  position: relative;
  left: 30%;

  
  button{
    width: 100px;
    padding: 60px;
    border-style:none;
    background:url(../../dev/images/dinoTest/pic/arrowRight.png) no-repeat center center;
    background-size: contain;
  }
}
//分數畫面==================================
.scoreBoard{
    margin: 30px;
    height: 50%;
    background: url(../images/dinoTest/pic/blank.png) no-repeat center center;
    background-size: contain; 
}


.scoreBox{
  padding-top: 40px;
}
  .scoreTitle {
    margin: auto;
    background: url(../../dev/images/dinoTest/pic/woodBlank.png) no-repeat center center;
    background-size: contain;
    height: 70px;
    padding-top: 6px;

   
}

.scoreTitle h3{
      font-size: ($font-h3)-5px;
      text-align: center;
      line-height: 60px;
      color: $white;
    }

.scoreBoard p{
  text-align: left;
  color:$yellow-second;
  padding-left: 220px;
  margin: 30px 55px 0;
}
.score{
  margin: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  text-align: center;
  background: url(../../dev/images/dinoTest/pic/scoreBar.png) no-repeat center center;
  background-size: contain;
  color:$white;
  font-size:($font-h4)-3px;

  span{
    color:red;
    font-size: ($font-h2)+4px;
  }

  .comment{
    margin-left: 15px;
    color:$white;
    font-size: ($font-h4)-10px;
  }

}

.scoreBtn{
  margin:20px 30px;
  text-align: center;

  button{ 
    margin:7px 35px;
    width: 130px;
    padding: 20px;
    border-style:none;
    background:url(../../dev/images/dinoTest/pic/woodTitle.png) no-repeat center center;
    background-size: contain;
    font-size: ($font-h4)-10px;
   
  }

}