body {
  height: 100vh;
  background-image: url('../images/dinoGet/bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.WrapRange {
  width: 100%;
  height: 85.5vh;
  position: relative;
  // background-color: rgba(0, 255, 255, 0.404);
  top: 12vh;
}

//文字

.text {
  position: absolute;
  width: 43%;
  left: 5%;
  top: 4%;
}

.text img {
  margin-left: 50%;
  transform: translateX(-50%);
}

.text img:nth-child(2) {
  margin-top: 4%;
  width: 85%;
}

//恐龍
.dino-land {
  width: 50%;
  position: absolute;
  left: 47%;
  top: 55%;
  transform: translateX(-50%) translateY(-50%);
}

//按鈕
.bt-1 img{
  width: 16%;
  position: absolute;
  right: 7%;
  bottom: 40%;
  // background-color: rgb(155, 155, 235);
}

.bt-2 img{
  width: 11%;
  position: absolute;
  right: 11%;
  bottom: 25%;
  // background-color: rgb(155, 155, 235);
}

//bt hover
.bt-1 img:hover{
  bottom: 39%;
}

.bt-2 img:hover{
  bottom: 24%;
}
