* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .bac {
    background-image: url(../images/disscus/2935.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
  }
  
  .bot {
    position: absolute;
    z-index: 30;
    top: 0px;
    left: 650px;
  
    img {
      width: 50%;
    }
  }
  
  .backboard {
    background-image: url(../images/disscus/blank.png);
    background-size: cover;
    width: 63%;
    height: 95%;
    margin: 30px auto;
  }
  
  .post-form {
    background-color: #b4928a;
    border-radius: 10px;
    padding: 20px;

    margin: 0 auto;
    
  }
  
  input {
    &[type=submit] {
      width: 15%;
      background-color: #db9616;
      color: white;
      padding: 14px 34px;
      margin: 15px 10px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      font-size: 18px;
  
      &:hover {
        background-color: #c4bd65;
      }
    }
  
    &[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }
  
  #editor {
    background-color: white;
    height: 20rem;
  }