@font-face {
    font-family: 'DFPLiYuan';
    src: url('../font/DFPLiYuan.woff.ttf') format("truetype");
}

body {
    height: 100vh;
    background-image: url('../images/dinoIsland/island-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.Wrap {
    width: 65%;
    height: 85vh;
    position: relative;
    top: 12vh;
    left: 50%;
    transform: translateX(-50%);
    // background-color: rgba(161, 161, 235, 0.541);
}

.Dino-1 {
    width: 18%;
    position: absolute;
    left: 11%;
    top: 2%;
    // background-color: rgba(161, 161, 235, 0.541)
}

.Dino-1-col {
    width: 18%;
    position: absolute;
    left: 11%;
    top: 2%;
}

.Dino-2 {
    width: 14%;
    position: absolute;
    left: 26%;
    top: 20%;
    // background-color: rgba(161, 161, 235, 0.541)
}

.Dino-2-col {
    width: 14%;
    position: absolute;
    left: 26%;
    top: 20%;
}

.Dino-3 {
    width: 25%;
    position: absolute;
    left: 30%;
    bottom: 35%;
    // background-color: rgba(161, 161, 235, 0.541)
}

.Dino-3-col {
    width: 25%;
    position: absolute;
    left: 30%;
    bottom: 35%;
}

.Dino-4 {
    width: 20%;
    position: absolute;
    right: 21%;
    top: 28%;
    // background-color: rgba(161, 161, 235, 0.541)
}

.Dino-4-col {
    width: 20%;
    position: absolute;
    right: 21%;
    top: 28%;
}

.Dino-5 {
    width: 24%;
    position: absolute;
    right: 8%;
    bottom: 23%;
    z-index: 1;
    // background-color: rgba(161, 161, 235, 0.541)
}

.Dino-5-col {
    width: 24%;
    position: absolute;
    right: 8%;
    bottom: 23%;
    z-index: 1;
}

.Dino-6 {
    width: 18%;
    position: absolute;
    right: 23%;
    bottom: 15%;
    z-index: 2;
    // background-color: rgba(161, 161, 235, 0.541)
}

.Dino-6-col {
    width: 18%;
    position: absolute;
    right: 23%;
    bottom: 15%;
    z-index: 2;
}

.Dino-1 img,
.Dino-2 img,
.Dino-3 img,
.Dino-4 img,
.Dino-5 img,
.Dino-6 img,
.Dino-1-col img,
.Dino-2-col img,
.Dino-3-col img,
.Dino-4-col img,
.Dino-5-col img,
.Dino-6-col img {
    width: 100%;
}

//-----hover

.Dino-1:hover,
.Dino-2:hover,
.Dino-3:hover,
.Dino-4:hover,
.Dino-5:hover,
.Dino-6:hover {
    opacity: 0;
    cursor: pointer;
}

//介紹框
.intItem-1 h2,
.intItem-2 h2,
.intItem-3 h2, 
.intItem-4 h2,
.intItem-5 h2,
.intItem-6 h2 {
    font-size: 23px;
    color: #e05301;
    padding: 5% 0;
    box-sizing: border-box;
    text-align: center;
}

//翼手龍&共用css
.intItem-1 p,
.intItem-2 p,
.intItem-3 p,
.intItem-4 p,
.intItem-5 p,
.intItem-6 p {
    font-size: 20px;
    color: #6e6e6e;
    padding: 0 5% 3% 5%;
    text-align: center;
    box-sizing: border-box;
    line-height: 180%;
    letter-spacing: 1px;
}

.intItem-1 h3,
.intItem-2 h3,
.intItem-3 h3,
.intItem-4 h3,
.intItem-5 h3,
.intItem-6 h3 {
    font-size: 22px;
    color: #4b69ce;
    padding: 0 5% 3% 5%;
    text-align: center;
    box-sizing: border-box;
    line-height: 180%;
    letter-spacing: 1px;
}

//翼手龍
.intItem-1 {
    width: 40%;
    font-family: 'DFPLiYuan';
    background-color: white;
    margin-left: -25%;
    border-radius: 15px;
    position: relative;
    top: 20%;
    display: none;
}

//始祖鳥
.intItem-2 {
    width: 40%;
    font-family: 'DFPLiYuan';
    background-color: white;
    margin-left: -12%;
    border-radius: 15px;
    position: relative;
    top: 35%;
    display: none;
}

//暴龍
.intItem-3 {
    width: 40%;
    font-family: 'DFPLiYuan';
    background-color: white;
    margin-left: -7.3%;
    border-radius: 15px;
    position: relative;
    top: 50%;
    display: none;
}

//劍龍
.intItem-4 {
    width: 40%;
    font-family: 'DFPLiYuan';
    background-color: white;
    margin-left: 78%;
    border-radius: 15px;
    position: relative;
    top: 10%;
    display: none;
}

//蛇頸龍
.intItem-5 {
    width: 40%;
    font-family: 'DFPLiYuan';
    background-color: white;
    margin-left: 82%;
    border-radius: 15px;
    position: relative;
    top: 33%;
    display: none;
}

//滄龍
.intItem-6 {
    width: 40%;
    font-family: 'DFPLiYuan';
    background-color: white;
    margin-left: 20%;
    border-radius: 15px;
    position: relative;
    top: 67%;
    display: none;
}