//@import './base/reset';
@import 'base/font';
@import '../../guideline_sass/sass/base/var';

//==================================

body{
  color: $brown;
  font-family:'DFPliYuan';
  background-color: rgb(233, 245, 241);
  box-sizing:border-box;
}
button{
  cursor: pointer;
}

//==================================

.perWrap{
margin: auto;
width: 100vw;
height: 100vh;
}
// 左側頭貼框
.perHeader{
  width: 100%;
  height:20%;
}
// 左側個人頭像區塊外包的div
.perBox{
display: flex;
flex-wrap: wrap;
margin: 10px;
}
// 左側個人頭像區塊
.perPhoto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  flex-grow: 1;
  margin: 30px;
  padding-bottom: 20px;
// 會員中心標題
  h1{
    font-size: $font-h1;
    font-weight: $font-bold;
    margin: 20px auto;
  }
// 會員頭像相框
  .perFrame{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:20px 0;
  padding: 0 50px;
  width: 100%;
  height: 400px;
  background: url(../../dev/images/dinoPersonal/personFrame.png) no-repeat center center;
  background-size: contain;

  .perFrame img{
    margin-top: 50px;
    width: 180px;
  }
  // 會員名稱
  h3{
    padding: 30px 0;
    font-size: $font-h3;
  }
  }

}

// 右側內容區
.perContent{
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  margin-bottom: 30px;

}
// 內容標籤板子外層
.conBtn{
  margin-top: 20px;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
// 內容標籤板子
  button{
    margin: 0 20px;
    padding: 10px 10px 25px 10px;
    height: 100px;
    width: 150px;   
    text-align: center;
    color: $white;
  }
  //內容板子(預設) 
  .dark{
    background: url(../../dev/images/dinoPersonal/yellowBoard_b.png) no-repeat center center;
    background-size: contain;

  }
  
  //內容板子（當前）
  .light{
  background: url(../../dev/images/dinoPersonal/yellowBoard.png) no-repeat center center;
  background-size: contain;
}
}


//右側內容區背板
.conFrame{
  margin-top: -30px;
  width: 90%;
  height: 90%;
  background-image: 
  no-repeat center center;
  background-size: contain;

}
// 會員資料表單
.conFrame .profileForm{
  display: flex;
  
} 
.conFrame .profile{
  position: relative;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
}
.conFrame .control-label{
  // font-size: $font-h5;
  padding: 5px;
}
.conFrame input{
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
}
.conFrame form button{
  width: 100%;
  cursor: pointer;
  // font-size: $font-h5;
  background-color: white;
}