@import 'base/reset';
@import 'layout/nav';
@import 'base/font';
@import 'dinoDisscus';
@import 'dinoHotpost';

body {
    .content {
        width: 100%;
        height: 1000px;
        background-color: rgb(182, 182, 182);
    }

    header {
     width: 100%;
     height: 120px;
     background-color: rgb(216, 216, 216);
    }
    footer {
        width: 100%;
        height: 400px;
        background-color: rgb(232, 230, 230);
    }
}