@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'DFPLiYuan';
  src: url("../font/DFPLiYuan.woff.ttf") format("truetype");
}

button {
  border: none;
  background-color: rgba(0, 255, 255, 0);
  cursor: pointer;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.Menu {
  width: 12%;
  max-width: 120px;
  /* background-color: cornsilk; */
}

.Menu img {
  width: 100%;
}

li {
  list-style-type: none;
  font-family: 'DFPLiYuan';
  font-size: 20px;
  font-weight: normal;
  color: #045127;
  letter-spacing: 3px;
}

.NavL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 44%;
  padding: 0 6%;
  /* background-color: blueviolet; */
}

.NavR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 44%;
  padding: 0 6%;
  /* background-color: blueviolet; */
}

.SignIn {
  width: 17%;
  padding: 0;
}

.SignIn img {
  width: 100%;
}

.Island {
  position: fixed;
  bottom: 50px;
  right: 45px;
  width: 4.5%;
}

.Island img {
  width: 100%;
}

@font-face {
  font-family: 'DFPLiYuan';
  src: url("../font/DFPLiYuan.woff.ttf") format("truetype");
  /* unicode-range: 文字1 編碼, 文字2 編碼, 文字3 編碼; */
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  overflow-x: hidden;
  font-family: "Noto Sans TC", sans-serif;
}

:root {
  --color-main:#1a202e;
}

.main-content {
  margin: 70px auto 0;
  min-height: calc(100vh - 70px);
  /* 外層加overflowhidden*/
}

.main-content .main {
  padding: 1.5rem;
  /* background: #f1f5f9; */
  background-image: url(../images/disscus/board3.jpg);
  background-size: cover;
}

.main-content .jobs-grid {
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
}

.main-content .buck {
  background-image: url(../images/disscus/board2.jpg);
  background-size: cover;
}

.main-content .jobs {
  overflow-x: auto;
  background-color: rgba(255, 255, 255, 0.77);
  border-radius: 20px;
  padding: 10px;
}

.main-content .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  margin-left: 5rem;
  justify-items: flex-start;
}

.main-content .box {
  width: 300px;
  height: 50px;
  background-color: white;
  border-radius: 30px;
  border: 1px solid #aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.main-content .box > input {
  /* flex: 1; */
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
}

.main-content select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #aaa;
  background: #ffffff;
  background-image: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 .5em;
  color: #302e2e;
  cursor: pointer;
  font-size: 1em;
}

.main-content select::-ms-expand {
  display: none;
}

.main-content .select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 13em;
  height: 3em;
  margin: 0 2rem;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: .25em;
}

.main-content .select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #682f09;
  color: azure;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  transition: .25s all ease;
}

.main-content .select:hover::after {
  color: #23b499;
}

.main-content .purchase-info .btn {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 1.6rem;
  outline: 0;
  margin-left: 0.2rem;
}

.main-content .purchase-info .btn {
  cursor: pointer;
  color: #fff;
}

.main-content .purchase-info .btn:last-of-type {
  background: #f64749;
}

.main-content .purchase-info .btn:hover {
  opacity: 0.9;
}

.main-content nav {
  position: relative;
  margin: 15px 0px 0px 88px;
  width: 590px;
  height: 50px;
  border-radius: 8px;
  font-size: 0;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}

.main-content nav a {
  font-size: 20px;
  text-transform: uppercase;
  color: #8a8888;
  text-decoration: none;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}

.main-content nav .animation {
  position: absolute;
  height: 100%;
  height: 5px;
  bottom: 0;
  z-index: 0;
  background: #1abc9c;
  border-radius: 8px;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.main-content nav a:nth-child(1) {
  width: 100px;
}

.main-content nav .start-home, .main-content a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
}

.main-content nav a:nth-child(2) {
  width: 110px;
}

.main-content nav a:nth-child(2):hover ~ .animation {
  width: 110px;
  left: 100px;
}

.main-content nav a:nth-child(3) {
  width: 100px;
}

.main-content nav a:nth-child(3):hover ~ .animation {
  width: 100px;
  left: 210px;
}

.main-content .jobs h2 small {
  color: #5850ec;
  font-weight: 600;
  display: inline-block;
  margin-left: 1rem;
  font-size: .9rem;
}

.main-content .jobs table {
  border-collapse: collapse;
  margin-top: 1rem;
  margin: auto;
  /* 固定寬*/
  width: 800px;
}

.main-content span.indicator {
  background: #c9f7f5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.main-content span.indicator.even {
  background: #fff4de;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.main-content .jobs table td div {
  background: #fff;
  margin-bottom: .8rem;
  margin-top: .8rem;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  font-size: .85rem;
  color: #444;
  font-weight: 500;
}

.main-content .jobs table thead {
  border-top: #aaa 1px solid;
  border-bottom: #aaa  1px solid;
}

.main-content .jobs table thead th div {
  /* background: #fff; */
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  font-size: .85rem;
  color: #444;
  font-weight: 500;
}

.main-content tbody tr td {
  vertical-align: middle;
}

.main-content tbody tr td:nth-child(1) div {
  position: relative;
}

.main-content tbody tr td:nth-child(1) div::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  top: 50%;
  width: 10px;
  height: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #993c36;
}

.main-content .pac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-content .pagination {
  display: inline-block;
}

.main-content .pagination a {
  font-size: 12px;
  color: black;
  float: left;
  padding: 8px 10px;
  text-decoration: none;
}

.main-content .board {
  background-image: url(../images/disscus/board.png);
  background-size: cover;
}

@media only screen and (max-width: 1124px) {
  .main-content .main-content {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1314px) {
  .main-content .jobs-grid {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 320px) {
  .main-content .jobs-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.main-content .fa-comments {
  color: #417ef0;
}

body .content {
  width: 100%;
  height: 1000px;
  background-color: #b6b6b6;
}

body header {
  width: 100%;
  height: 120px;
  background-color: #d8d8d8;
}

body footer {
  width: 100%;
  height: 400px;
  background-color: #e8e6e6;
}
/*# sourceMappingURL=style.css.map */